.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  color: white;
  border-bottom: solid #2a2c2f 2px;
}

.header__lang-link:hover {
  opacity: 0.8;
  border-bottom: solid white 2px;
}

.header__lang-link:last-child {
  margin-left: 18px;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    max-width: 22px;
    font-size: 18px;
    line-height: 20px;
  }
}