.cover {
  max-width: 1184px;
  margin: 92px auto 0;
  background: url(../../images/cover/cov_image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px 0 0;
  }
}